<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgx.dao.FileMapper">
    <insert id="saveFileDao" parameterType="com.lgx.entity.MediaFile">
        insert into multi_media(id,medianame,createtime,mediasize,broadcnt) values (#{id},#{medianame},#{createtime},#{mediasize},#{broadcnt})
    </insert>
</mapper>